<!-- <app-wish></app-wish> -->
 <mat-sidenav-container style="height: 100%;">
    <mat-sidenav
    #sidenav
    mode="side"
    style="width: 200px; background-color: #f4dde1"
    >
    <p>
        <a routerLink="/wish">Wish</a>
    </p>
    <p>
        <a routerLink="/contact">Contact</a>
    </p>
    <p>
        <a routerLink="/products">Products</a>
    </p>



    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
Demo App!
        </mat-toolbar>
        <div>Welcome to our Application!</div>
        <!-- <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
            @for(title of titles; track $index){
                <mat-grid-tile [colspan]="title.cols" [rowspan]="title.rows">{{title.text}}</mat-grid-tile>
            }

        </mat-grid-list> -->
        <!-- <app-contact></app-contact> -->
        <!-- <mat-paginator>
            [pageSizeOptions]="[5, 10, 25, 100]"
            showFirstLastButtons
        </mat-paginator> -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
 </mat-sidenav-container>
